

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {background-color: lightslategrey}
.navbar {height: 66px; font-size: 2.4em}
.navbar, .container h1 {font-family: 'Shadows Into Light', cursive; font-weight: bold}
.jumbotron {background-color: olivedrab; width:90%;box-shadow: 5px 5px 15px #111111;}
.container p {padding-top:1em;font-family: 'Slabo 27px', serif;}
ul.nav a {color: chocolate !important; border:0;background:0;}
ul.nav a:hover {color: #fff !important; border:0;background:0;}
.jumbotron a {color:darkorchid}
.jumbotron a:hover {color:chocolate;text-decoration: none}
.mixcloud {height: 254px}













